.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.AddPhotoURLForm {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-color: #e0f7fa; 
    border: 1px solid #00838f; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    width: 60vw;
    max-width: 600px;
    text-align: center;
    z-index: 1000; 
}

.AddPhotoURLForm .img-container {
    margin-bottom: 15px;
}

.AddPhotoURLForm .img-container img {
    
    max-width: 40vw;
    max-height: 40vh;
    border-radius: 8px;
    border: 2px solid #00838f; 
}

.AddPhotoURLForm .url-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.AddPhotoURLForm .url-box input {
    padding: 10px;
    width: 80%;
    border: 1px solid #00838f;
    border-radius: 5px;
    font-size: 16px;
    color: #006064;
    background-color: #e0f7fa;
    outline: none;
}

.AddPhotoURLForm .url-box input:focus {
    border-color: #004d40;
}

.AddPhotoURLForm .url-box button {
    background-color: #00838f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.AddPhotoURLForm .url-box button:hover {
    background-color: #006064;
}
.AddPhotoURLForm .url-box .btn-cancel {
    background-color: red;
}
.AddPhotoURLForm .url-box .btn-add {
    background-color: green;
}



.AddPhotoURL .preview-container{
    width:100px;
    height: 100px;
    position:relative;
}

.AddPhotoURL .preview-container > img{
    width:100%
    
    
}


.AddPhotoURL .preview-container .btn-delete{
    display: none;

    position:absolute;
    top:3px;
    left:3px;
    padding: 1px;
    opacity:70%;
}

.AddPhotoURL .preview-container:hover .btn-delete{
    display:block;
}

.AddPhotoURL .preview-container:hover .btn-delete:active{
    background: yellow;
}




.AddPhotoURL .preview-container .btn-delete> img{
    max-width:25px;
    max-height: 25px;
}



