footer{
    background: linear-gradient(to left, #955DFF, #6FAAFF);
    height: 56px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding: 0 10%;
  }