.message-box {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
    background-color: darkgreen;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    opacity: 0;
    transition: bottom 2s ease, opacity 2s ease;
    z-index: 1000;
  }
  
  .message-box.success {
    background-color: darkgreen;
  }
  
  .message-box.error {
    background-color: darkred;
  }
  
  .message-box.show {
    bottom: 50%;
    opacity: 1;
    transition: bottom 2s ease, opacity 2s ease;
  }
  