
  
  .form {
    display: grid;
    gap: 1px;
    grid-template-columns: max-content 1fr;
    border: solid 3px black;
    margin-bottom: 25px;
    padding: 10px;
    margin-right:40px;
    background: linear-gradient(90deg, #e27474, #D5D531, #008000);
    width: auto;
    max-width: 340px;
    border-radius: 25px;
    font-size: 15px;
  }
  
  .form > label[for] {
    text-align: right;
    border-bottom: solid 1px black;
  }
  
  .form > .label-left {
    text-align: left;
  }
  
  .form > input {
    display: block;
    margin-bottom: 10px;
    padding: 2px;
    width: 90%;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  .form > input[type=submit], .btn_form {
    border-radius: 3px;
    background-color: #E4F1FE;
    border: 1px solid grey;
    cursor: pointer;
  }
  
  .form > input[type=submit]:hover, .btn_form:hover {
    background-color: #FFFEC4;
  }
  
  .form > input[type=number] {
    width: 50%;
  }
  
  .btn_form {
    padding: 5px;
    border-radius: 8px;
  }
  